<!DOCTYPE html>
<section class="skills-section" id="skills">

    <h2 class="skills-title"><strong>Knowledge Base</strong></h2>

    <div class="skills-wall">

        <span class="lang">Python</span>
        <span class="lang">Java</span>
        <span class="lang">SQL</span>
        <span class="lang">C++</span>

        <span class="backend">FastAPI</span>
        <span class="backend">REST APIs</span>
        <span class="backend">Spring Boot</span>

        <span class="db">PostgreSQL</span>
        <span class="db">MySQL</span>
        <span class="db">SQLite</span>

        <span class="tools">Git</span>
        <span class="tools">GitHub</span>
        <span class="tools">Docker</span>
        <span class="tools">Postman</span>

        <span class="ai">PyTorch</span>
        <span class="ai">Pandas</span>
        <span class="ai">NumPy</span>
        <span class="ai">Scikit-Learn</span>

        <span class="core">DSA</span>
        <span class="core">OOP</span>
        <span class="core">DBMS</span>
        <span class="core">OS</span>
        <span class="core">CN</span>

    </div>

</section>
</html>